.custom-toast {
  font-size: 6px; /* Adjust the font size as needed */
}

/* Tailwind CSS (using JIT mode for dynamic class generation) */
.custom-toast {
  @apply text-sm; /* Use Tailwind's text size utilities */
}
.custom-dropdown-item:hover {
  background-color: black !important;
  color: inherit !important;
}
.custom-sidebar {
  background-color: black !important; /* Important to override existing styles */
}
